@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AspNetCoreApp.ViewModels.EditModel
<head>
    <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2>Edit your information</h2>

    <a asp-action="Edit" asp-controller="Account">Register</a>

    <form asp-action="Edit" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div>
                <label asp-for="Password">Password: </label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div>
                <label asp-for="ConfirmPassword">Confirm password: </label><br />
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" />
            </div>
            <div>
                <label asp-for="Email">Email: </label><br />
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            <div>
                <label asp-for="TelegramId">Telegram: </label><br />
                <input type="text" asp-for="TelegramId" />
                <span asp-validation-for="TelegramId" />
            </div>
            <div>
                <input type="submit" value="Edit" />
            </div>
        </div>

    </form>


    <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/jquery/dist/jquery.min.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/jquery/dist/jquery.js"></script>
</body>