@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET MVC Core</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2>Questions </h2>


</body>
</html>
