@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET MVC Core</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2>Hello world!</h2>

    <form asp-action="AddPresentation" asp-controller="Presentation" method="post" enctype="multipart/form-data">
        <p>
            <label>Upload new presentation</label>
            <input name="File" type="file" class="form-control" />
        </p>
        <p>
            <input type="submit" value="Upload" />
        </p>
    </form>

    <div>
        <ul id="themes" class="list-group">
        </ul>
    </div>

    <div>
        <a asp-action="Edit" asp-controller="Account">Edit your information</a>
    </div>

    <div>
        <a asp-action="LogOut" asp-controller="Account">Log out</a>
    </div>

    <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/jquery/dist/jquery.min.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("scripts");
            var result;

            const get = fetch("/getPresentations", {
                method: 'POST',
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    'Skip': 0,
                    'Take': 10
                })
            })
                .then(res => res.json())
                .then((res) => { result = res; PopulateResult(res); });
            console.log(result);

            function PopulateResult(res) {
                res.forEach(elem => {
                    $("#themes").append('<li class="text-center list-group-item" id="' +
                        elem.id +
                        '"> <div class="panel-body"> <p>'
                        + elem.id + '</p> <p>' + elem.name +
                        '</p> <a href=/Questions/Index/' + elem.id +
                        '> Add questions </a> </div> </li>');
                });
            }
        });
    </script>

</body>
</html>
